extends layout

block content
   include svg.pug
   -var heading = "<span id='titlep1'>#aus</span><span id='titlep2'>votes</span>"
   nav(class="navbar navbar-default" id="navbar")
      div(class="container-fluid")
         div(class="navbar-fluid")
            a(class="navbar-brand") !{heading}
            img(id="logo" src="/images/AusVotes.png")
            div(id='counterObject')
               span(id='counterTitle') Election Day Countdown
               br
               span(id="counter")
            br
            br
            span(id="description") The latest tweets, from the people, about the upcoming 2016 Australian Federal Election.
   div(class='container' id='tweetarea')
      if data.statuses
         each item in data.statuses
            br
            ul(class='status')
               li(class='avatar'): img(src= item.user.profile_image_url)
               li(class='name')= item.user.name
               li(class='username')= '@' + item.user.screen_name
               br
               li(class='text')= item.text
               li(class='tweetdata') !{rt} <span class='count'> !{item.retweet_count} </span> !{like} <span class='count'> !{item.favorite_count} </span>
      else
         p= 'Pual has screwed up...'
   br
   img(id="meme" src="http://i.giphy.com/eIcYFsM3xLClq.gif")
   br
   nav(class="navbar navbar-default" id="navbar")
      div(class="container-fluid")
         div(class="navbar-fluid")
            span(id='bottomtext')
               a(id="name" href="https://github.com/ArcadeBlitz") Paul Davidson 
               span 2016
