extends layout

block content
   include svg.pug
   -var heading = "<span id='titlep1'>#aus</span><span id='titlep2'>votes</span>"
   nav(class="navbar navbar-default" id="navbar")
      div(class="container-fluid")
         div(class="navbar-fluid")
            a(class="navbar-brand") !{heading}
            img(id="logo" src="/images/AusVotes.png")
            div(id='counterObject')
               span(id='counterTitle') Election Day Countdown
               br
               span(id="counter")
            br
            br
            span(id="description") The latest tweets, from the people, about the upcoming 2016 Australian Federal Election.
   div(class='container')
      div(class="row")
         div(class="col-md-2")
         div(class="col-md-8" id="party")
            h4 Boat by Boat Analysis
               a(href="https://twitter.com/GhostWhoVotes") [@ghostwhovotes]
            p The race to enter Australia by boat is on!
            if polls
               each part in polls
                  br
                  div !{part.poll}
                  br
                  div.poll
                     each value, index in part.info
                        div.partyText(class=index) !{index} !{value}%
                        div.progress#preference
                           div.progress-bar(id='' + index + '' style='width: ' + 2 * value + '%')
                              span.partyInfo
                        div.finishLine
               br
            else
               br
               p(class='shake') Fair shake of the sauce bottle mate. Hold on. Refresh in a minute.
               img(id="loading" src='http://i.giphy.com/yi9haSsK9nxCM.gif')
         div(class="col-md-2")
   br
   div(class='container')
      div(class="row")
         div(class="col-md-2")
         div(class="col-md-8" id="tweetarea")
            h4 Tweets
            if data.statuses
               each item in data.statuses
                  br
                  ul(class='status')
                     li(class='avatar'): img(src= item.user.profile_image_url)
                     li(class='name')= item.user.name
                     li(class='username')= '@' + item.user.screen_name
                     br
                     li(class='text')= item.text
                     if item.entities.media
                        each photo in item.entities.media
                           br
                           li(class='statusImages')
                              img(src=photo.media_url_https class="statusimg")
                     br
                     li(class='time')= item.created_at
                     br
                     li(class='tweetdata') !{rt} <span class='count'> !{item.retweet_count} </span> !{like} <span class='count'> !{item.favorite_count} </span>
            else
               p(class='shake') Fair shake of the sauce bottle mate. Hold on. Refresh in a minute.
               img(id="loading" src='http://i.giphy.com/yi9haSsK9nxCM.gif')
         div(class="col-md-2")
   nav(class="navbar navbar-default" id="navbar")
      div(class="container-fluid")
         div(class="navbar-fluid")
            img(id="meme" src="http://i.giphy.com/eIcYFsM3xLClq.gif")
            span(id='bottomtext')
               a(id="name" href="https://github.com/ArcadeBlitz") Paul Davidson 
               span 2016
